<!DOCTYPE html>
<html>
<script src="/data.js"></script>
<title>A Walk in the Park</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css">
<script>
function datamod(){
        swal.setDefaults({
	  input: 'text',
	  confirmButtonText: 'Next &rarr;',
	  showCancelButton: true,
	  animation: false,
	  progressSteps: ['1', '2', '3']
	})

	var steps = [
	  {
	    title: 'Your name',  
	  },
	  {
	    title: 'Your location',
	  },
	  {
	    title: 'Your birthday (YYYY-MM-DD)'
          }
	]

	var results = '';

	swal.queue(steps).then(function (result) {
	  swal.resetDefaults()
	  results = result
	  swal({
	    title: 'All done!',
	    html:
	      'Your name is' +
		result[0] +
	      ', your location is ' + result[1] + 
	      ', and your birthdate is ' + results[2] + '; submit?',
	    confirmButtonText: 'Yes!',
	    cancelButtonText: 'No!',
	    showCancelButton: true
	  }).then(function (result) {
		    if (result == true) 
		      $.post('/datamod', {'name': results[0], 'location': results[1], 'birthday': results[2]}, 
			      function () {swal('Nice!', 'Successfully updated user data! You may need to reload the page to see results.', 'success')})
		             .fail(function () {swal('Oops!', 'Something went wrong. Please try again', 'error')})
		  })
	}, function () {
	  swal.resetDefaults()
	})}
function addpark(){
        swal.setDefaults({
	  input: 'text',
	  confirmButtonText: 'Next &rarr;',
	  showCancelButton: true,
	  animation: false,
	  progressSteps: ['1']
	})

	var steps = [
	  {
	    title: 'Park key',  
	  },
	]

	var results = '';

	swal.queue(steps).then(function (result) {
	  swal.resetDefaults()
	  results = result
	  swal({
	    title: 'All done!',
	    html:
	      'Adding park ID ' + results[0] + '; correct?',
	    confirmButtonText: 'Yes!',
	    cancelButtonText: 'No!',
	    showCancelButton: true
	  }).then(function (result) {
		    if (result == true) 
		      $.post('/addpark', {'id': results[0], }, 
			      function () {swal('Nice!', 'Successfully added park! You may need to reload the page to see results.', 'success')})
		             .fail(function () {swal('Oops!', 'This park does not exist.', 'error')})
		  })
	}, function () {
	  swal.resetDefaults()
	})}
var qd = {};
if (location.search) location.search.substr(1).split("&").forEach(function(item) {var s = item.split("="), k = s[0], v = s[1] && decodeURIComponent(s[1]); (qd[k] = qd[k] || []).push(v)})
</script>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <div class="w3-dropdown-hover w3-hide-small w3-bar-item">
    {% if user %}
    <a href="{{ url | safe }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-sign-out"></i></a>
    {% else %}
    <a href="{{ url | safe }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-sign-in"></i></a>
    {% endif %}
    <!--<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
    </div>-->
  </div>
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  {% for p in pages %}
    <a href="{{ p.link }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-{% if p.title == page %}grey{% else %}white{% endif %}" title="{{ p.title }}">{{ p.html | safe }}</a>
  {% endfor %}
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>{% if len(notifs) > 0 %}<span class="w3-badge w3-right w3-small w3-green">{{ len(notifs) }}</span>{% endif %}</button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      {% for notif in notifs %}
        <a href="#" class="w3-bar-item w3-button">{{ notif.text }}</a>
      {% endfor %}
    </div>
  </div>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  {% for page in pages %}
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="{{ page.title }}">{{ page.html | safe }}</a>
  {% endfor %}
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        {% if user %}
        <div class="w3-container">
         <h4 class="w3-center">My Profile {% if not isreg %}(this has not been modified){% endif %}</h4>
         <p class="w3-center"><img src="https://gravatar.com/avatar/{{ md5(user.email().lower()).hexdigest() }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{ name }} </p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ location }}  </p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ birthday.strftime("%A, %B %d %Y") }}</p>
        </div>
        <button onclick="datamod();" class="w3-button w3-block w3-green w3-section" title="Edit"><i class="fa fa-pencil"></i></button>
        {% else %}<h2>Please log in</h2>{% endif %}
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card-2 w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Parks</button>
          <div id="Demo1" class="w3-hide w3-container">
	    {% if user %}
            {% for park in parks %}
              <a href="/?hub={{ q(park.code) }}" class="w3-bar-item w3-button">{{ park.name }}</a><a href="/remove/park"><i class="fa fa-times-circle-o fa-lg" style="color:red;display:inline;"></i></a>
<br/>
            {% endfor %}
	    <button class="w3-button w3-block w3-green w3-section" title="Add a Park" onclick="addpark()"><i class="fa fa-plus-circle"></i></button>
	    {% endif %}
          </div>
        </div>      
      </div>
      <br>
      
      <!-- Interests 
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      -->
      <!-- Alert Box
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>-->
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
	      <form action="/post" method="POST">
                <input name="post" class="w3-border w3-padding" value="I'm at the park!"></p>
	        <input name="prev" type="hidden" value="" id="prev"></input>
                <input type="submit" class="w3-button w3-theme" value="Post"></button>
	      </form> 
            </div>
          </div>
        </div>
      </div>
      
      {% for post in posts %}
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
          <img src="https://www.gravatar.com/avatar/{{ md5(post.owner_email.lower()).hexdigest() }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <span class="w3-right w3-opacity"><script>document.write(moment("{{ post.date.isoformat() }}").fromNow());</script></span>
          <h4>{{ post.person }}</h4><br>
          <hr class="w3-clear">
          {{ post.html | safe }}
	  <br/>
          <h4 style="display:inline;" title="{{ post.likes }} | {{ post.dislikes }}">{{ post.likes - post.dislikes }} &times;</h4>
          <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="$.post('/like?id={{ post.key.urlsafe() }}&like=1')"><i class="fa fa-thumbs-up"></i>  Like</button>
          <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="$.post('/like?id={{ post.key.urlsafe() }}dislike=1')&"><i class="fa fa-thumbs-down"></i>  Dislike</button>
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div> 
      {% endfor %}
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>
      
      <!--<div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>-->
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>&#169; SupaChat 2018</h5>
  <p>χαίρετε, ὦ φίλοι</p>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
$('#prev').val(qd['hub'][0]);
</script>

</body>
</html> 

