<!DOCTYPE html>
<html>
<script src="/data.js"></script>
<title>A Walk in the Park</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css">
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <div class="w3-dropdown-hover w3-hide-small w3-bar-item">
    {% if user %}
    <a href="{{ url | safe }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-sign-out"></i></a>
    {% else %}
    <a href="{{ url | safe }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-sign-in"></i></a>
    {% endif %}
    <!--<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
    </div>-->
  </div>
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  {% for p in pages %}
    <a href="{{ p.link }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-{% if p.title == page %}grey{% else %}white{% endif %}" title="{{ p.title }}">{{ p.html | safe }}</a>
  {% endfor %}
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>{% if len(notifs) > 0 %}<span class="w3-badge w3-right w3-small w3-green">{{ len(notifs) }}</span>{% endif %}</button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      {% for notif in notifs %}
        <a href="#" class="w3-bar-item w3-button">{{ notif.text }}</a>
      {% endfor %}
    </div>
  </div>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  {% for page in pages %}
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="{{ page.title }}">{{ page.html | safe }}</a>
  {% endfor %}
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      <table class="w3-table w3-striped">
	    <tr>
	      <th>Name</th>
	      <th>Location</th>
	      <th>Key</th>
	    </tr>
      {% for park in parks %}
	    <tr>
	      <td>{{ park.name }}</td>
	      <td>{{ park.location }}</td>
	      <td>{{ park.key.urlsafe() }}</td>
	    </tr>
      {% endfor %}
</table>
      

{% if mod %}
<form action='/createpark' method=POST>
<label>Name: </label><input name="name"></input>
<br/>
<label>Location: </label><input name="location"></input>
<br/>
<label>Code: </label><input name="code"></input>
<br/>
<input type="submit"></input>
</form>
{% endif %}
    <!-- End Middle Column -->
    </div>
    
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>&#169; SupaChat 2018</h5>
  <p>χαίρετε, ὦ φίλοι</p>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html> 

