<!DOCTYPE html>
<html>
<script src="/data.js"></script>
<title>A Walk in the Park</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css">
<script>
function datamod(){
        swal.setDefaults({
	  input: 'text',
	  confirmButtonText: 'Next &rarr;',
	  showCancelButton: true,
	  animation: false,
	  progressSteps: ['1', '2', '3', '4']
	})

	var steps = [
	  {
	    title: 'Your new dog\'s name'
	  },
	  {
	    title: 'Your new dog\'s breed',
	  },
	  {
	    title: 'Your new dog\'s description',
	    input: 'textarea'
          },
	  {
	    title: 'Your new dog\'s image',
	    input: 'file',
	    inputAttributes: {
	      'accept': 'image/*',
	      'aria-label': 'Upload your dog\'s picture'
	    }
	  }
	]

	var results = '';

	swal.queue(steps).then(function (result) {
	  swal.resetDefaults()
	  results = result
	  swal({
	    title: 'All done!',
	    html:
	      'Your dog\'s name is ' +
		result[0] +
	      ', your dog\'s breed is ' + result[1] + 
	      ', and your dog\'s description is ' + results[2] + '; submit?',
	    confirmButtonText: 'Yes!',
	    cancelButtonText: 'No!',
	    showCancelButton: true
	  }).then(function (result) {
		    var reader = new FileReader();
		    reader.onload = (e) => {
		    if (result == true) 
		      $.post('/adddog', {'name': results[0], 'breed': results[1], 'description': results[2], 'image': e.target.result}, 
			      function () {swal('Nice!', 'Successfully added! You may need to reload the page to see results.', 'success')})
		             .fail(function () {swal('Oops!', 'Something went wrong. Please try again', 'error')})
		    }
		    reader.readAsDataURL(results[3]);
		  })
	}, function () {
	  swal.resetDefaults()
	})}
</script>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <div class="w3-dropdown-hover w3-hide-small w3-bar-item">
    {% if user %}
    <a href="{{ url | safe }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-sign-out"></i></a>
    {% else %}
    <a href="{{ url | safe }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-sign-in"></i></a>
    {% endif %}
    <!--<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
    </div>-->
  </div>
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  {% for p in pages %}
    <a href="{{ p.link }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-{% if p.title == page %}grey{% else %}white{% endif %}" title="{{ p.title }}">{{ p.html | safe }}</a>
  {% endfor %}
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>{% if len(notifs) > 0 %}<span class="w3-badge w3-right w3-small w3-green">{{ len(notifs) }}</span>{% endif %}</button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      {% for notif in notifs %}
        <a href="#" class="w3-bar-item w3-button">{{ notif.text }}</a>
      {% endfor %}
    </div>
  </div>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  {% for page in pages %}
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="{{ page.title }}">{{ page.html | safe }}</a>
  {% endfor %}
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      <table class="w3-table w3-striped">
	    <tr>
	      <th>Name</th>
	      <th>Breed</th>
	      <th>Description</th>
	      <th>Image</th>
	    </tr>
      {% for dog in dogs %}
	    <tr>
	      <td>{{ dog.name }}</td>
	      <td>{{ dog.breed }}</td>
	      <td>{{ dog.description }}</td>
	      <td><image src="{{ dog.avatar }}"></image></td>
	    </tr>
      {% endfor %}
</table>

<button class="w3-button w3-block w3-green w3-section" title="Add a Dog" onclick="datamod()"><i class="fa fa-plus-circle"></i></button>
    <!-- End Middle Column -->
    </div>
    
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>&#169; SupaChat 2018</h5>
  <p>χαίρετε, ὦ φίλοι</p>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html> 

